.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android and iOS local build state
android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Desktop generated build state
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# IDE/user files
.idea/
*.iml
